.flash {
    display: block;
    background-color: #2fdc2f !important;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 16px;
}

table {
    width: 100%;
}

.error {
    display: inline-block;
    color: darkred;
}

tr.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}
