.flash {
    display: block;
    background-color: #2fdc2f !important;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 16px;
}

table {
    width: 100%;
    margin-bottom: 12px;
}

.error {
    display: inline-block;
    color: darkred;
}

tr.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

td {
    vertical-align: middle;
}

#download-ui {
    margin-bottom: 16px;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
