{% extends 'layout.html' %}

{% block content %}

    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.args.get('q') or '' }}"
               hx-get="/contacts"
               hx-trigger="search, keyup delay:200ms changed"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="#spinner"/>
        <img id="spinner" class="htmx-indicator" src="/static/img/spinning-circles.svg"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% include 'rows.html' %}
        </tbody>
    </table>
    <p>
        <a href="/contacts/new">Add Contact</a>
    </p>

{% endblock %}