{% extends 'layout.html' %}

{% block content %}


    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.first }}</td>
                <td>{{ contact.last }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td><a href="/contacts/{{ contact.id }}/edit">Edit</a> <a href="/contacts/{{ contact.id }}">View</a></td>
            </tr>
        {% endfor %}
        {% if contacts|length == 10 %}
            <tr>
                <td colspan="5" style="text-align: center">
                    <span hx-target="closest tr"
                            hx-trigger="revealed"
                            hx-swap="outerHTML"
                            hx-select="tbody > tr"
                            hx-get="/contacts?page={{ page + 1 }}">Loading More...</span>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <p>
        <a href="/contacts/new">Add Contact</a>
    </p>

{% endblock %}